@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.imagem-tela-cheia {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; 
    width: 100%;
    background-color: #FFDDC5; 
    overflow: hidden; 
}

.img {
    position: absolute;
    top: 20%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 30vh; 
    height: 30vh; 
    border-radius: 50%; 
    overflow: hidden; 
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footerBar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 2vh;
    background-color: #FFDDC5;
    width: 100%;
    font-size: 1.5rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-size: 1.3rem;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2hv;
}

.iconCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconText {
    margin-left: 10px;
}

.hotLink {
    display: flex;
    width: 96%;
    justify-content: space-around;
}

p {
    margin: 2vh 2vh 0.3vh 2vh;
    text-align: center;
}

.container {
    margin-bottom: 7vh;
}